<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roc.sprovider.dao.DeptDao">
    <!--    addDept-->
    <insert id="addDept" parameterType="com.roc.sapi.pojo.Dept">
        insert into dept (dName, db_Source) values (#{dName},DATABASE());
    </insert>
    <!--    getDeptByID-->
    <select id="getDeptById" resultType="com.roc.sapi.pojo.Dept" parameterType="Long">
        select * from dept where deptNo = #{deptNo};
    </select>
    <!--    getDeptList-->
    <select id="getDeptList" resultType="com.roc.sapi.pojo.Dept">
        select * from dept ;
    </select>

</mapper>